.postContainer {
    margin: 2% 0% 0% 0%;
    height: auto;
    width: 100%;
    background-color: white;
    box-shadow: 0 -1px 1px 0 rgba(0, 28, 36, .3), 0 1px 1px 0 rgba(0, 28, 36, .3), 1px 1px 1px 0 rgba(0, 28, 36, .15), -1px 1px 1px 0 rgba(0, 28, 36, .15);

}

.postDescription{
    margin: 10px;
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.viewButton{
    width: 100;
    background-color: #6643b5;
    border: none;
    color: white;
    border-radius: 0%;
    font-weight: bold;
    margin-left: 10px;
}

.viewButton:hover {
    background-color: #8594e4 !important;
    border: none;
    color: black !important;
}

.ant-select-selection-placeholder {
    color: black !important;
  }