.login-container h1 {
  font-size: 2em;
}

.login-container .ant-input-affix-wrapper > input.ant-input {
  font-size: 1.3em;
  width: 300px;
}

/*to target the password and confirm password*/
.signup-container .ant-input-affix-wrapper {
  width: 20vw;
}

.signup-container input.ant-input {
  width: 20vw;
  font-size: 1.3em;
}

.signup-container .ant-form-item {
  max-width: 20vw;
}

.updatepw-container .ant-input-affix-wrapper {
  width: 25vw;
}

.updatepw-container input.ant-input {
  width: 25vw;
  font-size: 1.3em;
}

.updatepw-container .ant-form-item {
  max-width: 25vw;
}


.radioItem .ant-radio-wrapper > span {
  font-size: 1.3em;
}

.forgotpw-container .ant-input-affix-wrapper > input.ant-input {
  font-size: 1.3em;
  width: 100%;
}

.login-container a,
.signup-container a,
.forgotpw-container a,
.updatepw-container a {
  font-size: 1.1em;
}

.login-container .ant-btn,
.signup-container .ant-btn,
.forgotpw-container .ant-btn,
.updatepw-container .ant-btn {
  font-size: 1.3em;
  height: auto;
}
