.iconComponent {
    display: flex;
    align-items: center;
    margin: 0px 10px 5px 20px;
    font-size: 18px;
}

.postSectionContainer{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px 10px 20px 10px ;
    padding: 10px;
    background-color: white;
}

.postSectionTitle {
    font-size: 18px;
    margin-bottom: 8px;
}

.postSectionContent {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.viewButton{
    width: 100;
    background-color: #6643b5;
    border: none;
    color: white;
    border-radius: 0%;
    font-weight: bold;
    margin-left: 10px;
}

.viewButton:hover {
    background-color: #8594e4 !important;
    border: none;
    color: black !important;
}