.postContainer {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 2% 20% 0% 10%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.postDescription{
    margin: 10px;
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.viewButton{
    width: 100;
    background-color: #6643b5;
    border: none;
    color: white;
    border-radius: 0%;
    font-weight: bold;
    margin-left: 10px;
}

.viewButton:hover {
    background-color: #8594e4 !important;
    border: none;
    color: black !important;
}

.ant-select-selection-placeholder {
    color: black !important;
  }