.floatButton .ant-float-btn-body {
    background-color: #6643b5 !important;
}
.floatButton .ant-float-btn-icon {
    color: white !important;
}

.roommatePostMeta .ant-card-meta-detail{
    display: flex !important;
    align-items: center !important;
}
