.timeslotCheckbox > .ant-checkbox-wrapper {
    margin: 5px !important; 
    padding: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #d9d9d9 !important;
    box-shadow: 0 2px 0 rgba(0,0,0,0.015) !important;
    background-color: #fff !important;

}

.timeslotCheckbox > .ant-checkbox-wrapper > .ant-checkbox {
    background-color: #fff !important;

}

.timeslotCheckbox > .ant-checkbox-wrapper > .ant-checkbox-disabled+span{
    background-color: #fff !important;

}

.check-all-checkbox{
    /* margin: 5px !important;  */
    padding: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #d9d9d9 !important;
    box-shadow: 0 2px 0 rgba(0,0,0,0.015) !important;
    background-color: #fff !important;
}

/* .buttonRow > .ant-row{
    display: flex !important;
    align-items: center !important;
} */

/* .ant-checkbox-inner:after{
    background-color: #fff !important;
} */

.ant-tabs-tab-active > .ant-tabs-tab-btn{
    color: #6643b5 !important;
    font-weight: bold !important;
}


.ant-tabs-ink-bar{
    background-color: #6643b5 !important;
}

.ant-table-column-sorter-inner > .active{
    background-color: transparent !important;
    color: black !important;
}

.anticon-caret-up > svg{
    width: 1.2em !important;
    height: 1.2em !important;
}


.anticon-caret-down > svg{
    width: 1.2em !important;
    height: 1.2em !important;
}