h1 {
    font-size: 2em;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-form-item .ant-form-item-label >label {
    font-size: 1.3em;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-input-affix-wrapper >input.ant-input {
    font-size: 1.3em;
    width: 300px;
}

a {
    font-size: 1.3em;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-btn {
    font-size: 1.2rem;
    height: auto;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-form label {
    font-size: 1.2rem;
}