.login-container h1 {
    font-size: 2em;
}


.signup-container .ant-form-item-label > label {
    font-size: 1.3em;
}
.login-container .ant-form-item-label > label {
    font-size: 1.3em;
}

.forgotpw-container .ant-form-item-label > label {
    font-size: 1.3em;
}


.signup-container .ant-input-affix-wrapper >input.ant-input {
    font-size: 1.3em;
    width: 300px;

}

.login-container .ant-input-affix-wrapper >input.ant-input {
    font-size: 1.3em;
    width: 300px;

}

.forgotpw-container .ant-input-affix-wrapper >input.ant-input {
    font-size: 1.3em;
    width: 300px;

}

.login-container a {
    font-size: 1.3em;
}

.signup-container a {
    font-size: 1.3em;
}

.forgotpw-container a {
    font-size: 1.3em;
}

.login-container .ant-btn {
    font-size: 1.3em;
    height: auto;
}

.signup-container .ant-btn {
    font-size: 1.3em;
    height: auto;
}

.forgotpw-container .ant-btn {
    font-size: 1.3em;
    height: auto;
}


