.ant-input-disabled{
    color: black !important;
    background-color: white !important;
}

.ant-select-disabled.ant-select-selector{
    color: black !important;
    background-color: white !important;
}

.ant-select-selector{
    color: black !important;
    background-color: white !important;
}

.ant-input-number-disabled{
    color: black !important;
    background-color: white !important;
}

.ant-radio-wrapper-disabled{
    color: black !important;
    background-color: white !important;
}
.ant-checkbox-disabled+span{
    color: black !important;
    background-color: white !important;
}
.ant-checkbox-disabled{
    color: black !important;
    background-color: white !important;
}

.ant-checkbox-checked{
    color: black !important;
    background-color: white !important;
}

.popOutBox:hover{
    background-color: #ACCEF7 !important;
    cursor: pointer;
}

.popOutBox{
    padding: 0 5px;
}

.ant-popover .ant-popover-inner{
    border-radius: 0px !important;
    box-shadow: 0 -1px 1px 0 rgba(0, 28, 36, .3), 0 1px 1px 0 rgba(0, 28, 36, .3), 1px 1px 1px 0 rgba(0, 28, 36, .15), -1px 1px 1px 0 rgba(0, 28, 36, .15) !important;
    padding: 10px !important;
}
.postDetails .ant-descriptions-item-content{
    display: flex !important;
    flex: none !important;
}