.ant-input-disabled{
    color: black !important;
    background-color: white !important;
}

.ant-select-disabled.ant-select-selector{
    color: black !important;
    background-color: white !important;
}

.ant-select-selector{
    color: black !important;
    background-color: white !important;
}

.ant-input-number-disabled{
    color: black !important;
    background-color: white !important;
}

.ant-radio-wrapper-disabled{
    color: black !important;
    background-color: white !important;
}
.ant-checkbox-disabled+span{
    color: black !important;
    background-color: white !important;
}
.ant-checkbox-disabled{
    color: black !important;
    background-color: white !important;
}

.ant-checkbox-checked{
    color: black !important;
    background-color: white !important;
}

.popOutBox:hover{
    background-color: #ACCEF7 !important;
    cursor: pointer;
    border-radius: 5px;
}

.popOutBox{
    padding: 0 5px;
}

